body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  letter-spacing: 0.1em;
}

.row {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

.row-title {
  text-align: left;
  width: 1100px;
  margin: 10px auto;
  font-weight: 200;
  user-select: none;
}
